body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 2em 0;
}

section {
  padding: 2em;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 1em 0;
}
.profile-pic{
width:150px;
height:150px;
border-radius:50%;
margin-top:1em;
border:3px solid white;
}
